.items-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.item {
  width: calc(100% - 14px);
  background-color: #a4e6f4;
  border: 2px solid #ffffff;
  display: flex;
  align-items: center;
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 5px;
  color: #ffffff;
  &:last-child {
    margin-bottom: 0;
  }
}
.selected {
  animation: pulse 1s infinite;
  border: 2px solid #66cccc;
}
@keyframes pulse {
  0% {
    background-color: #a4e6f4;
  }
  100% {
    background-color: #66cccc;
  }
}
.text{
  width: 40%;
  font-size: 1rem;
  cursor: pointer;
  padding: 5px 0;
  margin-right: 5px;
  overflow-wrap: break-word;
  &-color {
    width: 10%;
  }
}